.overlayDiv,
.sideBySideDiv {
    display: flex;
}

#radio-group-axis {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

.displayValue {
    font-weight: 100;
}

mat-slider {
    width: 250px;
}

.overlayPlots {
    position: absolute;
    top: 0;
    left: 10;
    background-color: rgb(139, 25, 25, 0.4);
}

.displayPlotSideBySide {
    position: absolute;
    top: 0;
    left: 500px;
}

.slider {
    position: absolute;
    top: 500px;
    left: 100;
}

// ::ng-deep .ngxImageZoomThumbnail {
//     width: 400px;
// }

#image {
    display: block;

    /* This rule is very important, please don't ignore this */
    max-width: 100%;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
}

.example-radio-group {
    display: flex;
}

.radio-container {
    margin-right: 10px; /* Adjust margin as needed */
}

.inputContainer {
    display: flex;
    flex-direction: row;
}

.searchButton {
    margin: 8px;
    height: 40px;
    padding: 0px;
}

.smaller-input {
    width: 500px; /* Adjust the width as needed */
  }