<div class="container">
    <div class="overlayDiv">
        <div *ngIf="displayImage" class="imageContainer">
            <div *ngIf="displayCrop">
                <image-cropper [imageUrl]="parentImageUrl" (childImageUrl)="receiveCroppedImageUrl($event)"
                    (displayCrop)="receivedDisplayCrop($event)"></image-cropper>
            </div>
            <div *ngIf="!displayCrop">
                <img class="overlayPlots"
                    [src]="parentImageUrl"
                    style="height: 400px;" [style.opacity]="imageOpacityValue">
            </div>
        </div>
        <div #scatter id="scatter" [class]="overlayImage ? 'overlayPlots' : 'displayPlotSideBySide'"
            [style.opacity]="displayPlot ? plotOpacityValue : 0"></div>
    </div>
    <div class="slider">
        <label id="radio-group-axis">Plot Opacity: <span class="displayValue"> {{plotOpacityValue}}</span></label>
        {{0}} %
        <mat-slider min="0" max="1" step=".1" [(ngModel)]="plotOpacityValue"
            (input)="updatePlotOpacity(plotOpacityValue)">
        </mat-slider>
        {{100}} %
        <br>
        <label id="radio-group-axis">Image Opacity: <span class="displayValue"> {{imageOpacityValue}}</span></label>
        {{0}} %
        <mat-slider min="0" max="1" step=".1" [(ngModel)]="imageOpacityValue"
            (input)="updateImageOpacity(imageOpacityValue)">
        </mat-slider>
        {{100}} %
        <br>
        <mat-slide-toggle [(ngModel)]="overlayImage">Overlay Images</mat-slide-toggle>
        <br>
        <mat-slide-toggle [(ngModel)]="displayPlot">Display Plot</mat-slide-toggle>
        <br>
        <mat-slide-toggle [(ngModel)]="displayImage">Display Image</mat-slide-toggle>
        <br>
        <mat-slide-toggle [(ngModel)]="displayCrop">Display Crop</mat-slide-toggle>
        <br>
        <br>
        <label id="radio-group-axis">Plot Color: </label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="selectedColor" (change)="onColorChange()">
            <div *ngFor="let plotColor of colors" class="radio-container">
                <mat-radio-button class="example-radio-button" [value]="plotColor">{{plotColor}}</mat-radio-button>
            </div>
        </mat-radio-group>
        <br>
        <br>
        <label id="radio-group-axis">Scale Factor: <span class="displayValue"> ({{scaleFactor}})</span></label>
        <div class="inputContainer">
            <mat-form-field class="example-form-field container" appearance="outline">
                <mat-label>Scale Factor</mat-label>
                <input matInput type="search" name="search" [(ngModel)]="scaleFactorVal"
                    (keyup.enter)="setScaleFactor()" class="smallerInput">
                <button *ngIf="scaleFactorVal" matSuffix mat-icon-button aria-label="Clear"
                    (click)="scaleFactorVal = ''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button mat-flat-button color="primary" class="searchButton" (click)="setScaleFactor()">Submit</button>
        </div>
    </div>
</div>